.todos-container {
  padding: 1rem;
}

.todos-container__list {
  border-radius: 12px;
}

.todos-container__list ul {
  padding: 1rem;
  list-style: none;
  gap: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
